@page
@model AssessmentAssistant.Pages.CourseStandardsReview.EditModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>CourseStandardsReview</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="CourseStandardsReview.CourseStandardsReviewId" />
            <div class="form-group">
                <label asp-for="CourseStandardsReview.ReviewStatement" class="control-label"></label>
                <input asp-for="CourseStandardsReview.ReviewStatement" class="form-control" />
                <span asp-validation-for="CourseStandardsReview.ReviewStatement" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CourseStandardsReview.ReviewResponse" class="control-label"></label>
                <input asp-for="CourseStandardsReview.ReviewResponse" class="form-control" />
                <span asp-validation-for="CourseStandardsReview.ReviewResponse" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CourseStandardsReview.PointsAssigned" class="control-label"></label>
                <input asp-for="CourseStandardsReview.PointsAssigned" class="form-control" />
                <span asp-validation-for="CourseStandardsReview.PointsAssigned" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CourseStandardsReview.CourseReviewStandardsId" class="control-label"></label>
                <select asp-for="CourseStandardsReview.CourseReviewStandardsId" class="form-control" asp-items="ViewBag.CourseReviewStandardsId"></select>
                <span asp-validation-for="CourseStandardsReview.CourseReviewStandardsId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CourseStandardsReview.ReviewedByUserName" class="control-label"></label>
                <input asp-for="CourseStandardsReview.ReviewedByUserName" class="form-control" />
                <span asp-validation-for="CourseStandardsReview.ReviewedByUserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CourseStandardsReview.MeasurementPeriod" class="control-label"></label>
                <input asp-for="CourseStandardsReview.MeasurementPeriod" class="form-control" />
                <span asp-validation-for="CourseStandardsReview.MeasurementPeriod" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CourseStandardsReview.EnteredByUserName" class="control-label"></label>
                <input asp-for="CourseStandardsReview.EnteredByUserName" class="form-control" />
                <span asp-validation-for="CourseStandardsReview.EnteredByUserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CourseStandardsReview.RecordOwnerUserName" class="control-label"></label>
                <input asp-for="CourseStandardsReview.RecordOwnerUserName" class="form-control" />
                <span asp-validation-for="CourseStandardsReview.RecordOwnerUserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
